@model IEnumerable<BEU.Board>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_board)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_participants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_board)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_participants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_board }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_board }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_board })
        </td>
    </tr>
}

</table>
